export IKIGAI_DEV=1
export IKIGAI_BIN_DIR=$PWD/bin
export IKIGAI_CONFIG_DIR=$PWD/etc/ikigai
export IKIGAI_DATA_DIR=$PWD/share/ikigai
export IKIGAI_LIBEXEC_DIR=$PWD/libexec/ikigai
export NTFY_API_KEY="$(cat ~/.secrets/NTFY_API_KEY)"
export NTFY_TOPIC="default-pcsJuSScep1FqCL1kJ3Zx3pnkyqokFJ"
PATH_add .claude/scripts
