export IKIGAI_DEV=1
export IKIGAI_BIN_DIR=$PWD/bin
export IKIGAI_CONFIG_DIR=$PWD/etc/ikigai
export IKIGAI_DATA_DIR=$PWD/share/ikigai
export IKIGAI_LIBEXEC_DIR=$PWD/libexec/ikigai
export IKIGAI_CACHE_DIR=$PWD/cache
export IKIGAI_STATE_DIR=$PWD/state
export IKIGAI_DB_HOST=localhost
export IKIGAI_DB_PORT=5432
export IKIGAI_DB_NAME=ikigai
export IKIGAI_DB_USER=ikigai
export IKIGAI_DB_PASS="$(cat ~/.secrets/IKIGAI_DB_PASS)"
export OPENAI_API_KEY="$(cat ~/.secrets/OPENAI_API_KEY)"
export ANTHROPIC_API_KEY="$(cat ~/.secrets/ANTHROPIC_API_KEY)"
export GOOGLE_API_KEY="$(cat ~/.secrets/GOOGLE_API_KEY)"
export BRAVE_API_KEY="$(cat ~/.secrets/BRAVE_API_KEY)"
export GOOGLE_SEARCH_API_KEY="$(cat ~/.secrets/GOOGLE_SEARCH_API_KEY)"
export GOOGLE_SEARCH_ENGINE_ID="$(cat ~/.secrets/GOOGLE_SEARCH_ENGINE_ID)"
export NTFY_API_KEY="$(cat ~/.secrets/NTFY_API_KEY)"
export NTFY_TOPIC="$(cat ~/.secrets/NTFY_TOPIC)"
PATH_add .claude/scripts
