#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_build:
	$(MAKE) all BUILD=release

override_dh_auto_test:
	# Skip tests for now due to OOM simulation test issues
	# TODO: Fix error_test.c OOM tests to work in package build environment
	# $(MAKE) check

override_dh_auto_install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/ikigai PREFIX=/usr

override_dh_auto_clean:
	$(MAKE) clean
